@media (min-width: 768px) {
	nav {
		.wrapper {
			position: relative;
			.language {
				width: 5%;
				left: 15%;
			}
			.navbar {
				position: relative;
				flex-direction: row;
				width: 65%;
				height: 100%;
				top: 0;
				padding: 0;
				background: transparent;
				transform: translateX(0%);
				a {
					font-size: 2.2rem;
				}
			}
			.burger {
				display: none;
			}
		}
	}

	.sectionhome {
		.cards {
			&__cardone {
				justify-content: space-between;
				&--img {
					width: 40%;
					height: 40%;
					margin-bottom: 0em;
					.imgcardone {
						width: 160%;
						height: 160%;
					}
				}
				&--heading {
					font-size: 4.8rem;
				}
			}
			&__cardtwo {
				justify-content: space-between;
				&--img {
					width: 40%;
					height: 40%;
					margin-bottom: 0em;
					.imgcardtwo {
						width: 160%;
						height: 160%;
					}
				}
			}
		}
	}
}
