@media (min-width: 1400px) {
	nav {
		.wrapper {
			.logo {
				max-width: 18%;
				max-height: 18%;
			}
			.language {
				left: 10%;
				width: 2.6%;
			}
			.navbar {
				width: 60%;
			}
		}
	}
}
